@font-face {
    font-family : 'Geo Sans Light';
    font-style  : normal;
    font-weight : 400;
    src         : local('GeosansLight'), url(asset_path('font/GeosansLight.ttf')) format('truetype');
}